bower_components
node_modules
uploads/**
!uploads/README.md
.tmp/**
!.tmp/README.md
build
dist

#Templates data (Bower loaded)
res/vendor/skins/main/**
!res/vendor/skins/main/README.md

#Build with Grunt
index.html
