title= __('layout.title')
meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="Title", content=__('layout.title'))
meta(name="description", content=__('layout.description'))
meta(name="application-name", content="Badsender Email Builder")

link(rel="canonical", href="http://agence.badsender.com")
link(rel="shortcut icon", href="/favicon.png", type="image/png")
link(rel="icon", href="/favicon.png", type="image/png")

link(rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons")
link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")
//- link(rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.orange-light_blue.min.css")
link(rel="stylesheet" href="/badsender-app.css")

script(defer src="//code.getmdl.io/1.1.3/material.min.js")
