doctype html
html
  head
    title Éditeur de templates email responsive par "glissé/déposé" - Une solution Badsender.com
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="Title", content="Editeur de templates email responsive par glissé/déposé - Une solution Badsender.com")
    meta(name="description", content="Badsender Email Builder est une solution de conception d'emailing responsive permettant de construire un email graphiquement par glissé/déposé.")
    meta(name="keywords", content="emailing responsive, éditeur email, editeur emailing, éditeur template email, éditeur newsletter")
    meta(name="author", content="VOXmail")
    meta(name="application-name", content="Badsender Email Builder")
    meta(property="og:title", content="Badsender Email Builder")
    meta(property="og:image", content="http://agence.badsender.com/wp-content/uploads/2014/09/logo_badsender_154x118.png")
    meta(property="og:description", content="Editeur graphique de templates email par Badsender")
    meta(property="og:url", content="http://agence.badsender.com")
    meta(property="og:type", content="website")


    link(rel="canonical", href="http://agence.badsender.com")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(rel="icon", href="favicon.ico", type="image/x-icon")

    link(rel="stylesheet", href="/mosaico-material.min.css")
    link(rel="stylesheet", href="/vendor/notoregular/stylesheet.css")

    script(src="/vendor/knockout.js")
    script(src="/vendor/jquery.min.js")
    block head-content

  block content
