extends _layout.jade

block head-content

  meta(name="viewport", content="width=1024, initial-scale=1")

  script(src="/vendor/jquery-ui.min.js")
  script(src="/vendor/jquery.ui.touch-punch.min.js")
  script(src="/vendor/load-image.all.min.js")
  script(src="/vendor/canvas-to-blob.min.js")
  script(src="/vendor/jquery.iframe-transport.js")
  script(src="/vendor/jquery.fileupload.js")
  script(src="/vendor/jquery.fileupload-process.js")
  script(src="/vendor/jquery.fileupload-image.js")
  script(src="/vendor/jquery.fileupload-validate.js")
  script(src="/vendor/knockout-jqueryui.min.js")
  script(src="/vendor/evol.colorpicker.min.js")
  script(src="/vendor/tinymce.min.js")

  script(src="/mosaico.min.js?v=0.13")
  script.
    $(function() {
      if (!Mosaico.isCompatible()) {
        alert('Update your browser!');
        return;
      }
      // var basePath = window.location.href.substr(0, window.location.href.lastIndexOf('/')).substr(window.location.href.indexOf('/','https://'.length));
      var basePath = window.location.href.substr(0, window.location.href.lastIndexOf('/'));
      var plugins;
      // A basic plugin that expose the "viewModel" object as a global variable.
      // plugins = [function(vm) {window.viewModel = vm;}];
      var ok = Mosaico.init({
        imgProcessorBackend: basePath+'/img/',
        emailProcessorBackend: basePath+'/dl/',
        titleToken: "MOSAICO Responsive Email Designer",
        fileuploadConfig: {
          url: basePath+'/upload/',
          // messages??
        }
      }, plugins);
      if (!ok) {
        console.log("Missing initialization hash, redirecting to main entrypoint");
        document.location = ".";
      }
    });

  //-  2k
  link(rel="stylesheet", href="/vendor/evol.colorpicker.min.css")

block content
  body.mo-standalone
