extends _layout.jade

block head-content
  meta(name="viewport", content="width=480, initial-scale=1")
  link(rel="stylesheet", href="/badsender-home.css")
  script.
    var initialEdits = [];
    if (localStorage.getItem('edits')) {
      var editKeys = JSON.parse(localStorage.getItem('edits'));
      var md;
      for (var i = 0; i < editKeys.length; i++) {
        md = localStorage.getItem('metadata-'+editKeys[i]);
        if (typeof md == 'string') {
          initialEdits.push(JSON.parse(md));
        } else {
          console.log("Ignoring saved key", editKeys[i], "type", typeof md, md);
        }
      }

      initialEdits.sort(function(a, b) {
        var lastA = a.changed ? a.changed : a.created;
        var lastB = b.changed ? b.changed : b.created;
        if (lastA < lastB) return 1;
        if (lastA > lastB) return -1;
        return 0;
      });
    }

    var viewModel = {
      showSaved: ko.observable(false),
      edits: ko.observableArray(initialEdits),
      templates: [{
        name: 'versafix-1', desc: 'The versatile template'
      },{
        name: 'tedc15', desc: 'The TEDC15 template'
      },{
        name: 'tutorial', desc: 'The Tutorial'
      }]
    };

    viewModel.edits.subscribe(function(newEdits) {
      var keys = [];
      for (var i = 0; i < newEdits.length; i++) {
        keys.push(newEdits[i].key);
        localStorage.setItem('metadata-'+newEdits[i].key, ko.toJSON(newEdits[i]));
      }
      localStorage.setItem('edits', ko.toJSON(keys));
    });

    viewModel.dateFormat = function(unixdate) {
      if (typeof unixdate == 'undefined') return 'DD-MM-YYYY';
      var d = new Date();
      d.setTime(ko.utils.unwrapObservable(unixdate));
      var m = ""+(d.getMonth()+1);
      var h = ""+(d.getHours());
      var i = ""+(d.getMinutes());
      return d.getDate()+"/"+(m.length == 1 ? '0' : '')+m+"/"+d.getFullYear()+" "+(h.length == 1 ? '0' : '')+h+":"+(i.length == 1 ? '0' : '')+i;
    };

    viewModel.newEdit = function(shorttmplname) {
      console.log("new", this, template);
      var d = new Date();
      var rnd = Math.random().toString(36).substr(2, 7);
      var template = 'templates/'+shorttmplname+'/template-'+shorttmplname+'.html';
      viewModel.edits.unshift({ created: Date.now(), key: rnd, name: shorttmplname, template: template });
      document.location = 'editor#'+rnd;
      // { data: 'AAAA-MM-GG', key: 'ABCDE' }
      // viewModel.edits.push(template);
    };
    viewModel.renameEdit = function(index) {
      var newName = window.prompt("Modifica nome", viewModel.edits()[index].name);
      if (newName) {
        var newItem = JSON.parse(ko.toJSON(viewModel.edits()[index]));
        newItem.name = newName;
        viewModel.edits.splice(index, 1, newItem);
      }
      return false;
    };
    viewModel.deleteEdit = function(index) {
      var confirm = window.confirm("Are you sure you want to delete this content?");
      if (confirm) {
        var res = viewModel.edits.splice(index, 1);
        console.log("removing template ", res);
        localStorage.removeItem('template-'+res[0].key);
      }
      return false;
    };
    viewModel.list = function(clean) {
      for (var i = localStorage.length - 1; i >= 0; i--) {
        var key = localStorage.key(i);
        if (clean) {
          console.log("removing ", key, localStorage.getItem(key));
          localStorage.removeItem(key);
        } else {
          console.log("ls ", key, localStorage.getItem(key));
        }
      }
    };

    document.addEventListener('DOMContentLoaded',function(){
      ko.applyBindings(viewModel);
    });

block content
  body(data-bind="visible: true")
    div(style="background-color: #ffffff; padding: 10px;")
      div: img(src="http://agence.badsender.com/wp-content/uploads/2014/09/logo_badsender_154x118.png")
      .ribbon Badsender Email Builder

    .content
      h3 Demo
      p Click on one of the test templates below to try "Badsender Email Builder".
      p Cliquez sur l'un des templates de test ci-dessous afin d'essayer "Badsender Email Builder"
      div(data-bind="foreach: templates"): .template.template-xx(data-bind="attr: { class: 'template template-'+name }")
        div.description
          b(data-bind="text: name") xx
          | :
          span(data-bind="text: desc") xx
        a(href="#", data-bind="click: $root.newEdit.bind(undefined, name), attr: { href: '/editor#templates/'+name+'/template-'+name+'.html' }")
          img(src, width="100%", alt="xx", data-bind="attr: { src: 'templates/'+name+'/edres/_full.png' }")

    // ko if: edits().length
    div.table-container(style="")
      // ko ifnot: $root.showSaved
      p
        span You have saved contents in this browser!
        a.resumeButton(href="#", data-bind="click: $root.showSaved.bind(undefined, true);")
          i.fa.fa-plus-square
          |  show
      // /ko
      // ko if: $root.showSaved
      table#savedTable
        caption
          | Email contents saved in your browser
          a.resumeButton(href="#", data-bind="click: $root.showSaved.bind(undefined, false);")
            i.fa.fa-minus-square
            |  Hide
        thead: tr
          th Id
          th Name
          th Created
          th Last changed
          th Operations
        tbody(data-bind="foreach: edits")
          tr
            td: a(href="#", data-bind="attr: { href: 'editor#'+key }"): code
              | #
              span(data-bind="text: key") key
            td: a(href="#", data-bind="attr: { href: 'editor#'+key }")
              span(data-bind="text: name") versamix
            td: span(data-bind="text: typeof created !== 'undefined' ? $root.dateFormat(created) : '-'") YYYY-MM-DD
            td: span(data-bind="text: typeof changed !== 'undefined' ? $root.dateFormat(changed) : '-'") YYYY-MM-DD
            td
              a.operationButton(href="#", data-bind="attr: { href: 'editor#'+key }", title="edit"):  i.fa.fa-pencil
              a.operationButton(href="#", data-bind="click: $root.deleteEdit.bind(undefined, $index())", title="delete"): i.fa.fa-trash-o
      // /ko
    // /ko

    .subscribe
      a(href="http://agency.badsender.com/production/email-builder/" style=" color: white; border: 1px solid white; box-sizing: border-box; border-radius: 0px; padding: 5px 10px") MORE INFO ABOUT THE BUILDER
      a(href="http://agence.badsender.com/production/editeur-emailing" style=" color: white; border: 1px solid white; box-sizing: border-box; border-radius: 0px; padding: 5px 10px") EN SAVOIR PLUS À PROPOS DE L'ÉDITEUR
    .footer Badsender.com - All rights reserved
