extends _layout-login.jade

block content
  form(action="/login" method="post").mdl-card.mdl-shadow--2dp
    .mdl-card__title: .mdl-card__title-text= __('password.title.login')
    .mdl-card__supporting-text
      if (messages.error)
        dl.message.error
          dt error
          dd
            each message in messages.error
              p= message

      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input.mdl-textfield__input#email-field(type="email" name="username" required)
        label.mdl-textfield__label(for="email-field")= __('password.field.email')

      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input.mdl-textfield__input#password-field(type="password" name="password" required)
        label.mdl-textfield__label(for="password-field")= __('password.field.password')

    .mdl-card__actions.mdl-card--border
      button(type="submit").mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect
        | #{__('password.action.login')}
      a(href="/forgot").mdl-button.mdl-js-button.mdl-js-ripple-effect= __('password.action.forgot')
