extends _layout-admin.jade

block content
  h1 login
  if (messages.error)
    .message.error
      h2 error
      each message in messages.error
        p= message

  if (messages.success)
    .message.success
      h2 success
      each message in messages.success
        p= message

  form(action="/login" method="post")
    label
      div email address
      input(type="email" name="username")
    label
      div password
      input(name="password")
    br
    button(type="submit") submit
    br
    a(href="/forgot") forgot password?
