extends _layout-admin.jade

block content
  h1 Reset password
  if (messages.error)
    .message.error
      h2 error
      each error in messages.error
        p= error.message
  form(action="/password/" + data.token method="post")
    label
      div confirm email address
      input(type="email" name="username")
    label
      div new password
      input(name="password")
    button(type="submit") submit

