extends _layout-admin.jade

block content
  h1 forgot password?

  form(action="/login" method="post")
    label
      div confirm email address
      input(type="email" name="username")
    br
    button(type="submit") submit

  a(href="/login") back to login
