extends _layout-admin.jade

block content
  form(action="/password/" + data.token method="post").mdl-card.mdl-shadow--2dp
    .mdl-card__title: .mdl-card__title-text Password reset
    .mdl-card__supporting-text
      //- if (messages.error)
      //-     .message.error
      //-       h2 error
      //-       each error in messages.error
      //-         p= error.messagee

      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input.mdl-textfield__input#email-field(type="email" name="username" required)
        label.mdl-textfield__label(for="email-field") confirm email address

      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input.mdl-textfield__input#password-field(type="password" name="password" required)
        label.mdl-textfield__label(for="password-field") new password

    .mdl-card__actions.mdl-card--border
      button(type="submit").mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect
        | reset




  //- h1 Reset password
  //- if (messages.error)
  //-   .message.error
  //-     h2 error
  //-     each error in messages.error
  //-       p= error.message
  //- form(action="/password/" + data.token method="post")
  //-   label
  //-     div confirm email address
  //-     input(type="email" name="username")
  //-   label
  //-     div new password
  //-     input(name="password")
  //-   button(type="submit") submit

