extends _layout-admin.jade

block content
  form(action="/forgot" method="post").mdl-card.mdl-shadow--2dp
    .mdl-card__title: .mdl-card__title-text=  'TBD:' + __('password.title.forgot')
    .mdl-card__supporting-text
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input.mdl-textfield__input#email-field(type="email" name="username" required)
        label.mdl-textfield__label(for="email-field")= __('password.field.confirm-email')

    .mdl-card__actions.mdl-card--border
      button(type="submit").mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect
        | #{__('password.action.reset')}
      a(href="/login").mdl-button.mdl-js-button.mdl-js-ripple-effect= __('password.action.back-to-login')
