extends _layout-admin.jade

block content
  h1 wireframes list

  if !data.wireframes.length
    p no wireframes yet
  else
    table(border="1")
      thead
        tr
          th id
          th User
          th name
          th markup?
          th
      tbody
        each wireframe in data.wireframes
          tr
            td
              a(href='/users/' + wireframe.userId + '/wireframe/' + wireframe._id)= wireframe._id
            td
              a(href='/users/' + wireframe.userId )= wireframe.userId
            td= wireframe.name
            td= wireframe.hasMarkup ? '' : 'NO'
            th: a(href='/editor?wireframeId=' + wireframe._id) view
