@import "../../node_modules/material-design-lite/dist/material.orange-blue.min.css";
@import "../../node_modules/dialog-polyfill/dialog-polyfill.css";

$primary  =  #ff9f00;
$accent   = rgb(68,138,255);

// fix left column not expanding to bottom when content > viewport
.mdl-layout {
  height: auto;
  min-height: 100%;
}

////////
// HOME
////////

.wireframe-card {
  text-decoration: none;
  transition: box-shadow .2s;

  &:hover {
    box-shadow: 0 0 0 3px rgb(68,138,255);
  }

  .mdl-card__title {
    justify-content: center;
  }
  .mdl-card__supporting-text {
    text-align: center;
  }
  .mdl-card__media {
    height: 250px;
    overflow-y: auto;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.home-subtitle {
  text-align: center;
}

#savedTable {
  margin-bottom: 3em;
}

.customer-home .navigation--creations,
.customer-wireframe .navigation--wireframes  {
  box-shadow: inset 0 -3px 0 0 $accent;
}

////////
// HEADER
////////

.home-badsender-header {
  padding:  0 10px 10px;
  position: relative;
}

.ribbon {
  background-color: $primary;
  color: white;
  display: inline-block;
  position: relative;
  z-index: 10;
  margin: 6px;

  span {
    display: inline-block;
    padding: 3px 10px;

    border: 1px solid white;
    position: relative;
    z-index: 2;
  }

  &::before,
  &::after {
    z-index: -4;
    content: ' ';
    position: absolute;
    width: 5px;
    top: 7px;
    height: 0;
    border-width: 12px 12px;
    border-style: solid;
    border-color: $primary;
  }
  &::before {
    left: -20px;
    border-left-color: transparent;
  }
  &::after {
    right: -20px;
    border-right-color: transparent;
  }
}

////////
// SECTIONS
////////

.content {
  padding-top: 10px;
  padding-bottom: 2em;
  flex: 1 0 auto;

  h3 {
    margin-top: 0;
    text-transform: uppercase;
  }
}

.description {
  padding-bottom: 5px;
}

.footer {
  background-color: #2D2E2F;
  color: #777777;
  padding: 1em;
}

@media screen and (max-width: 900px) {
  .byTable { display: none; }
  .byRibbon { display: inline !important; }
}

.subscribe {
  background-color: $primary;
  color: white;
  padding: 2em .5em;

  a {
    display: inline-block;
    color: white;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 0;
    padding: 5px 10px;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: $primary;
      background: white;
    }
  }
  a + a {
    margin-left: 1em;
  }
}

.home-badsender-header,
.home-badsender-footer {
  text-align: center;
}

////////
// MATERIAL OVERRIDES
////////

.page-content {
  margin: 0 auto;
  max-width: 1280px;
  padding-top: 2em;
}
.full-width-layout .page-content,
.wireframe-new-edit .page-content {
  max-width: none;
  padding-top: 0;
}
.full-width-layout .page-content > .mdl-grid,
.wireframe-new-edit .page-content > .mdl-grid {
  min-height: calc(100vh - 64px)
}
.mdl-data-table {
  width: 100%;
}
.mdl-textfield {
  width: auto;
}
.mdl-button--fab {
  position: fixed;
  bottom: .5em;
  right: .5em;
  z-index: 10;
}

.mdl-card .mdl-data-table {
  border-left: 0;
  border-right: 0;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-content .mdl-card {
  width: 400px;
}
.mdl-textfield {
  display: block;
}
select.mdl-textfield__input {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  // border-radius: 0;
}
.mdl-textfield__label--fixed {
  color: rgb(255,152,0);
  font-size: 12px;
  top: 4px;
  visibility: visible;
}
.mdl-card {
  min-height: 0;
}
details {
  pre {
    font-size: 11px;
    overflow-x: auto;
  }

  ul,
  ol {
    columns: 300px 2;
    list-style: none;
    counter-reset: nombre;
  }
  li {
    counter-increment: nombre;
    &::before {
      content: counter(nombre) ' -';
      color: #ccc;
      width: 2em;
      display: inline-block;
      text-align: right;
      padding-right: .5em;
    }
  }
}
.lang {
  position: absolute;
  top: .25em;
  right: .5em;
}
.lang a {
  color: #000;
  text-decoration: none;
}
.message {
  margin: 0;
}
.message.error {
  color: #d50000;
}
.message dd {
  margin: 0;
}
.message dt {
  margin: 0;
}

.mdl-layout__content.mdl-grid {
  width: 100%;
}

.mdl-dialog {
  width: 75%;
  max-width: 400px;
}
.mdl-dialog__title {
  font-size: 2rem;
}
.mdl-data-table__cell--action.mdl-data-table__cell--action {
  text-align: center;
  width: 1%;
  white-space: nowrap;
}

.material-icons.is-invalid {
  color: #d50000;
}
