<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>


    <style type="text/css">
        @supports
            -ko-blockdefs {

            text {
                widget: text
            }
        }

    </style>
</head>

<div id="preface">
    <h1>This is the Mosaico Tutorial</h1>

</div>

<div data-ko-container="main">

    <div data-ko-block="HeaderAndText">
        <h1 data-ko-editable="headerText">this is header</h1>

        <div data-ko-editable="bodyText">
            this is text
        </div>
    </div>


    <div data-ko-block="fixedList">

        <ul>
            <li><div data-ko-editable="firstBodyText"></div></li>
            <li><div data-ko-editable="secondBodyText"></div></li>
            <li><div data-ko-editable="thirdBodyText"></div></li>
        </ul>
    </div>

</div>

<div id="trailer">
    <h1>This is the end of Mosaico Tutorial</h1>
</div>


</body>
</html>