extends _layout-maintenance.jade

block vars
  - var pageTitle = 'error'

block en
  h2 Application Error
  p An error occurred in the application and your page could not be served. Please try again in a few moments.

block fr
  h2 Erreur de l'application
  p Une erreur s'est produite et votre page ne peut être affichée. Revenez plus tard s'il vous plaît.


