extends _layout-maintenance.jade

block vars
  - var pageTitle = 'maintenance'

block en
  h2 Application Offline for maintenance
  p This application is undergoing maintenance right now. Please check back later.

block fr
  h2 Le site est en maintenance
  p Cette application est actuellement en cours de maintenance. Revenez plus tard s'il vous plaît.


